<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/sideNavbar/dashboard">
        <span class="material-symbols-outlined">dashboard</span> &nbsp;&nbsp;
        Dashboard
      </a>
      <a mat-list-item routerLink="/sideNavbar/members">
        <span class="material-symbols-outlined">group</span> &nbsp;&nbsp;
        Members
      </a>
      <a mat-list-item routerLink="/sideNavbar/addMember">
        <span class="material-symbols-outlined">group_add</span> &nbsp;&nbsp;
        Add Member
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span> <span class="material-symbols-outlined">
          source_environment
        </span> &nbsp;CRM Project</span>
      <span class="spacer"></span>
      <span (click)="logout()" title="logout" class="material-symbols-outlined" style="cursor: pointer;">
        logout
      </span>
    </mat-toolbar>
    <!-- Add Content Here -->

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>